
# Ignore vvp files
*.vvp

# Ignore txt files
*.txt

# Ignore tml_Reports folder
tml_Reports/

# Ignore log files
*.log
```

# Ignore .DS_Store files
.DS_Store

# Ignore .vcd and .zip files
*.vcd
*.zip
*.html

# ignore test files/output_files
test_files/output_files/*
html_reports/*
log/*

# Ignore .pyc files and __pycache__ folder and .venv folder
*.pyc
__pycache__/
.venv/