[submodule "multdiv"]
	path = multdiv
	url = git@github.com:Wanghley/VeriMultDiv.git
[submodule "Regfile"]
	path = Regfile
	url = git@github.com:Wanghley/VeriRegFile.git
[submodule "ALU"]
	path = ALU
	url = git@github.com:Wanghley/VeriALU.git
[submodule "submodules/ALU"]
	path = submodules/ALU
	url = git@github.com:Wanghley/VeriALU.git
[submodule "submodules/regfile"]
	path = submodules/regfile
	url = git@github.com:Wanghley/VeriRegFile.git
[submodule "submodules/alu"]
	path = submodules/alu
	url = git@github.com:Wanghley/VeriALU.git
[submodule "submodules/multdiv"]
	path = submodules/multdiv
	url = git@github.com:Wanghley/VeriMultDiv.git
